/*-- scss:defaults --*/

// fonts
@import 'https://fonts.googleapis.com/css2?family=Puritan&display=swap';

$font-family-sans-serif: "Puritan", sans-serif;
$presentation-heading-color: #6599B9;
$presentation-title-slide-text-align: "left";

/*-- scss:rules --*/

details>summary {
  font-size: 0.75em;
}

.small {
  font-size: 0.75em;
}
